// Image caption

.caption-wrapper {
    display: inline-block;
    margin-bottom: 10px;
  .caption-text {
    background: #fff;
    text-align: center;
    font-size: .8em;
    color: #666;
    margin: 0 auto 1.5em;
    display: block;
  }
}

